<a href="https://colab.research.google.com/github/KhangRefi/Data-Science/blob/main/Pandas/Pandas_Series_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Series exercises

In [1]:
import numpy as np
import pandas as pd

<hr style="margin-bottom: 40px;"></hr>

## Series creation

### Create an empty pandas Series

In [2]:
pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

### Given the X python list convert it to an Y pandas Series

In [3]:
X = [1,9,5,6]
Y = pd.Series(X)
print(Y)

0    1
1    9
2    5
3    6
dtype: int64

In [4]:
X = ['A','B','C']
Y = pd.Series(X)
print(Y)

0    A
1    B
2    C
dtype: object

### Given the X pandas Series, name it 'My letters'

In [5]:
X = pd.Series([1, 2, 3, 4, 5, 6])

X.name = 'My letters'
print(X)

0    1
1    2
2    3
3    4
4    5
5    6
Name: My letters, dtype: int64

### Given the X pandas Series, show its values

In [6]:
X = pd.Series(['A', 'B', 'C'])

print(X.values)

['A' 'B' 'C']

<hr style="margin-bottom: 40px;"></hr>

## Series indexation

### Assign index names to the given X pandas Series

In [7]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
print(X)

first     A
second    B
third     C
dtype: object

### Given the X pandas Series, show its first element

In [8]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

X['first']

'A'

In [9]:
X[0]

'A'

In [10]:
X.iloc[0]

'A'

In [11]:
X.loc['first']

'A'

### Given the X pandas Series, show its last element

In [12]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

X['third']

'C'

In [13]:
X[-1]

'C'

In [14]:
X.iloc[-1]

'C'

In [15]:
X.loc['third']

'C'

### Given the X pandas Series, show all middle elements

In [16]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

X[1:-1]

second    B
third     C
forth     D
dtype: object

In [17]:
X[['second', 'third', 'forth']]

second    B
third     C
forth     D
dtype: object

In [18]:
X.iloc[1:-1]

second    B
third     C
forth     D
dtype: object

In [19]:
X.loc[['second', 'third', 'forth']]

second    B
third     C
forth     D
dtype: object

### Given the X pandas Series, show the elements in reverse position

In [20]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

### Given the X pandas Series, show the first and last elements

In [21]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

X[[0, -1]]

first    A
fifth    E
dtype: object

In [22]:
X[['first', 'fifth']]

first    A
fifth    E
dtype: object

In [23]:
X.iloc[[0, -1]]

first    A
fifth    E
dtype: object

In [24]:
X.loc[['first', 'fifth']]

first    A
fifth    E
dtype: object

<hr style="margin-bottom: 40px;"></hr>

## Series manipulation

### Convert the given integer pandas Series to float

In [25]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

### Reverse the given pandas Series (first element becomes last)

In [26]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

### Order (sort) the given pandas Series

In [27]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

### Given the X pandas Series, set the fifth element equal to 10

In [28]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

### Given the X pandas Series, change all the middle elements to 0

In [29]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

### Given the X pandas Series, add 5 to every element

In [30]:
X = pd.Series([1,2,3,4,5])

X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

<hr style="margin-bottom: 40px;"></hr>


## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [31]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

### Given the X pandas Series, get the negative elements

In [32]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

### Given the X pandas Series, get numbers higher than 5

In [33]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

mask = X > 5
X[mask]

5     6
9    10
dtype: int64

### Given the X pandas Series, get numbers higher than the elements mean

In [34]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

### Given the X pandas Series, get numbers equal to 2 or 10

In [35]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

<hr style="margin-bottom: 40px;"></hr>

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [36]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

X.all()

False


### Given the X pandas Series, return True if any of its elements is zero

In [37]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

X.any()

True

<hr style="margin-bottom: 40px;"></hr>

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [38]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

X.sum()

9

In [39]:
np.sum(X)

9


### Given the X pandas Series, show the mean value of its elements

In [40]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

X.mean()

0.9

In [41]:
np.mean(X)

0.9


### Given the X pandas Series, show the max value of its elements

In [42]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

X.max()

10

In [43]:
np.max(X)

10