<a href="https://colab.research.google.com/github/KhangRefi/Data-Science/blob/main/NumPy/NumPy_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy exercises

In [1]:
# Import the numpy package under the name np
import numpy as np

## Array creation

### Create a numpy array of size 10, filled with zeros.

In [2]:
np.array([0] * 10)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [3]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])


### Create a numpy array with values ranging from 10 to 49

In [4]:
np.array([i for i in range(0,50)])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [5]:
np.arange(10,50)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

### Create a numpy matrix of 2*2 integers, filled with ones.

In [6]:
np.array([[1] * 2] * 2)

array([[1, 1],
       [1, 1]])

In [7]:
np.ones([2,2], dtype = int)

array([[1, 1],
       [1, 1]])

### Create a numpy matrix of 3*2 float numbers, filled with ones.

In [8]:
np.array([[1.0] * 2] * 3)

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [9]:
np.ones([3,2])

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

### Given the X numpy array, create a new numpy array with the same shape and type as X, filled with ones.

In [10]:
X = np.arange(4)

np.ones_like(X)

array([1, 1, 1, 1])

### Given the X numpy matrix, create a new numpy matrix with the same shape and type as X, filled with zeros.

In [11]:
X = np.array([[1,2,3], [4,5,6]], dtype = int)

np.zeros_like(X)

array([[0, 0, 0],
       [0, 0, 0]])

### Create a numpy matrix of 4*4 integers, filled with fives.

In [12]:
np.array([[5] * 4] * 4)

array([[5, 5, 5, 5],
       [5, 5, 5, 5],
       [5, 5, 5, 5],
       [5, 5, 5, 5]])

In [13]:
np.ones([4,4]) * 5

array([[5., 5., 5., 5.],
       [5., 5., 5., 5.],
       [5., 5., 5., 5.],
       [5., 5., 5., 5.]])

### Given the X numpy matrix, create a new numpy matrix with the same shape and type as X, filled with sevens.

In [14]:
X = np.array([[2,3], [6,2]])

np.ones_like(X) * 7

array([[7, 7],
       [7, 7]])

### Create a 3*3 identity numpy matrix with ones on the diagonal and zeros elsewhere.

In [15]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Create a numpy array, filled with 3 random integer values between 1 and 10.

In [16]:
np.random.randint(10, size=3)

array([6, 7, 8])

### Create a 3\*3\*3 numpy matrix, filled with random float values.

In [17]:
np.random.randn(3,3,3)

array([[[-1.72957085,  1.64726301,  1.15686006],
        [ 0.14044002,  0.51475577, -0.65869913],
        [ 0.12326475, -1.20347996, -0.65716308]],

       [[-0.01124301, -0.88160341,  0.09557599],
        [ 1.62785185, -0.91976739,  0.82054568],
        [-1.93283091, -0.62848639,  0.82555092]],

       [[-1.37377348,  0.08099162, -0.6114335 ],
        [-0.05496324, -1.2494291 ,  0.04498803],
        [-0.42901951, -0.03068366, -0.41996523]]])

### Given the X python list convert it to an Y numpy array

In [18]:
X = [1, 2, 3]
print(X, type(X))

Y = np.array(X)
print(Y, type(Y))

[1, 2, 3] <class 'list'>
[1 2 3] <class 'numpy.ndarray'>

### Create a numpy array with the odd numbers between 1 to 10

In [19]:
np.arange(1, 11, 2)

array([1, 3, 5, 7, 9])

### Create a numpy array with numbers from 1 to 10, in descending order.

In [20]:
np.arange(1, 11)[::-1]

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

### Create a 3*3 numpy matrix, filled with values ranging from 0 to 8

In [21]:
np.arange(9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

### Show the memory size of the given Z numpy matrix

In [22]:
Z = np.zeros((10,10))

print("%d bytes" % (Z.size * Z.itemsize))

800 bytes

## Array indexation

### Given the X numpy array, show it's first element

In [23]:
X = np.array(['A','B','C','D','E'])

X[0]

'A'

### Given the X numpy array, show it's last element

In [24]:
X = np.array(['A','B','C','D','E'])

X[-1]

'E'

In [25]:
X[len(X)-1]

'E'

### Given the X numpy array, show it's first three elements

In [26]:
X = np.array(['A','B','C','D','E'])

X[0:3]

array(['A', 'B', 'C'], dtype='<U1')

### Given the X numpy array, show the elements in reverse position

In [27]:
X = np.array(['A','B','C','D','E'])

X[::-1]

array(['E', 'D', 'C', 'B', 'A'], dtype='<U1')

### Given the X numpy array, show the elements in an odd position

In [28]:
X = np.array(['A','B','C','D','E'])

X[::2]

array(['A', 'C', 'E'], dtype='<U1')

In [29]:
X[[0, 2, -1]]

array(['A', 'C', 'E'], dtype='<U1')

### Given the X numpy matrix, show the first row elements

In [30]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X[0]

array([1, 2, 3, 4])

### Given the X numpy matrix, show the last row elements

In [31]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X[-1]

array([13, 14, 15, 16])

### Given the X numpy matrix, show the first element on first row

In [32]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X[0, 0]

1

### Given the X numpy matrix, show the last element on last row

In [33]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X[-1, -1]

16

### Given the X numpy matrix, show the middle row elements

In [34]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X[1:-1, 1:-1]

array([[ 6,  7],
       [10, 11]])

### Given the X numpy matrix, show the first two elements on the first two rows

In [35]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X[:2, :2]

array([[1, 2],
       [5, 6]])

### Given the X numpy matrix, show the last two elements on the last two rows

In [36]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X[2:, 2:]

array([[11, 12],
       [15, 16]])

## Array manipulation

### Convert the given integer numpy array to float

In [37]:
X = [-5, -3, 0, 10, 40]

np.array(X, float)

array([-5., -3.,  0., 10., 40.])

### Reverse the given numpy array

In [38]:
X = [-5, -3, 0, 10, 40]

X[::-1]

[40, 10, 0, -3, -5]

### Order (sort) the given numpy array

In [39]:
X = [0, 10, -5, 40, -3]

X.sort()
X

[-5, -3, 0, 10, 40]

### Given the X numpy array, set the fifth element equal to 1

In [40]:
X = np.zeros(10)

X[4] = 1
X

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

### Given the X numpy matrix, change the last row with all 1

In [41]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X[-1] = np.array([1, 1, 1, 1])
X

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [ 1,  1,  1,  1]])

### Given the X numpy matrix, change the last item on the last row with a 0

In [42]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X[-1, -1] = 0
X

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15,  0]])

### Given the X numpy matrix, add 5 to every element

In [43]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X + 5

array([[ 6,  7,  8,  9],
       [10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21]])

## Boolean arrays _(also called masks)_

### Given the X numpy array, make a mask showing negative elements

In [44]:
X = np.array([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

array([ True, False,  True,  True, False, False,  True,  True,  True,
       False])

### Given the X numpy array, get the negative elements

In [45]:
X = np.array([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

mask = X <= 0
X[mask]

array([-1,  0, -4,  0,  0, -9])

### Given the X numpy array, get numbers higher than 5

In [46]:
X = np.array([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

mask = X > 5
X[mask]

array([ 6, 10])

### Given the X numpy array, get numbers higher than the elements mean

In [47]:
X = np.array([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

mask = X > X.mean()
X[mask]

array([ 2,  5,  6, 10])

### Given the X numpy array, get numbers equal to 2 or 10

In [48]:
X = np.array([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

mask = (X == 2) | (X == 10)
X[mask]

array([ 2, 10])

## Logic functions

### Given the X numpy array, return True if none of its elements is zero

In [49]:
X = np.array([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

X.all()

False

### Given the X numpy array, return True if any of its elements is zero

In [50]:
X = np.array([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

X.any()

True

## Summary statistics

### Given the X numpy array, show the sum of its elements

In [51]:
X = np.array([3, 5, 6, 7, 2, 3, 4, 9, 4])

X.sum()

43

### Given the X numpy array, show the mean value of its elements

In [52]:
X = np.array([1, 2, 0, 4, 5, 6, 0, 0, 9, 10])

X.mean()

3.7

### Given the X numpy matrix, show the sum of its columns

In [53]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X.sum(axis=0)

array([28, 32, 36, 40])

### Given the X numpy matrix, show the mean value of its rows

In [54]:
X = np.array([
    [1,   2,  3,  4],
    [5,   6,  7,  8],
    [9,  10, 11, 12],
    [13, 14, 15, 16]
])

X.mean(axis=1)

array([ 2.5,  6.5, 10.5, 14.5])

### Given the X numpy array, show the max value of its elements

In [55]:
X = np.array([1, 2, 0, 4, 5, 6, 0, 0, 9, 10])

X.max()

10